test/images/**
test/masks/**

val/images/**
val/masks/**

train/images/**
train/masks/**

modelsave/**

*.DS_Store
*.JPG

/data/images/**
/data/masks/**

/modelsave/**
/slurm/**

.DS_Store
*.pth
*.jpg
*.pyc

*ipynb_checkpoints
__pycache__
